<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        
        <link rel="stylesheet" href="style.css">
        
    </head>
    <body>
		<div id='app'>
            
            <h1 class="appheader">{{name}}</h1>

            <button class="btn close-btn" @click="close()"><i class="bi bi-x-circle"></i></button>

            <div class="search-inp">
                <span class="search-icon"><i class="bi bi-search"></i></span>
                <input type="text" v-model="search" class="inp" :placeholder="locales.nui_search" aria-describedby="addon-wrapping">
            </div>

            <div class="car-list">
                <div v-for="car in filteredList" :key="car.model" class="card car">
                    <img :src="car.img" class="car-img" alt="...">
                    <div class="car-body">
                        <p class="car-title"><i class="bi bi-car-front"></i> {{car.label}}</p>
                        <p class="car-text"><i class="bi bi-wallet"></i> {{car.price}}{{locales.nui_currency}}</p>
                        <p class="car-text"><i class="bi bi-tag"></i> {{car.category}}</p>
                        <div class="btn-group">
                            <button v-if="shopdata.money" type="button" class="btn" @click="buy(car.model)" :style="{ 'background-color': haveMoney(car.price, 'money') }"><i class="bi bi-cash"></i> {{locales.nui_cash}}</button>
                            <button v-if="shopdata.bank" type="button" class="btn" @click="buybank(car.model)" :style="{ 'background-color': haveMoney(car.price, 'bank') }"><i class="bi bi-bank"></i> {{locales.nui_bank}}</button> <br>
                            <button v-if="shopdata.society" type="button" class="btn" @click="buyfaction(car.model)" :style="{ 'background-color': haveMoney(car.price, 'society') }"><i class="bi bi-people"></i> {{locales.nui_society}}</button>
                            <button v-if="shopdata.test" type="button" class="btn" @click="test(car.model)" style="background-color: #32a852;"><i class="bi bi-award"></i> {{locales.nui_test}}</button>
                        </div>
                    </div>
                </div>
            </div>

		</div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.prod.min.js"></script>
        <script src="index.js"></script>

	</body>
</html>